.todo-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.input-section, .category-input-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-section input, .category-input-section input, .input-section select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.input-section button, .category-input-section button {
    padding: 5px 10px;
    border: none;
    background-color: #5fa971;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.category-section {
    margin: 20px 0;
    position: relative;
}

.category-section h2 {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-icons {
    display: flex;
    gap: 10px;
}

.edit-category, .remove-category {
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
}

.edit-category:hover, .remove-category:hover {
    color: #ddd;
}

.edit-category-input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.save-category {
    padding: 5px 10px;
    border: none;
    background-color: #5fa971;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.tasks {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.todo-item:last-child {
    border-bottom: none;
}

.task-info {
    flex: 1;
}

.task-info span {
    margin-left: 10px;
}

.task-actions {
    display: flex;
    align-items: center;
}

.task-actions input[type="date"], .task-actions select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}

.task-buttons {
    display: flex;
    align-items: center;
}

.task-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    padding-right: 5px;
}

.remove-category {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}
