
/*      Dedicated Color Palette         */
/*      --beige: #e3e7d3ff;             */
/*      --silver: #bdc2bfff;            */
/*      --battleship-gray: #989c94ff;   */
/*      --black-olive: #25291cff;       */
/*      --vanilla: #e6e49fff;           */


/* The Todo Items CSS */
.todo-item {
    display: flex;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #bdc2bfff;
}
.todo-item span {
    flex: 1;
}
.div {
    padding: 24px;
    margin-right: 5%;
}


/* Table CSS */
table {
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
    border-collapse: collapse;
    table-layout: fixed;
}
thead {
    background-color: #e3e7d3ff;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left; /* Default alignment for table cells */
    vertical-align: middle; /* Ensure vertical alignment */
    height: 50px; /* Ensure consistent row height */
}
th, tr {
    text-align: center; /* Center align the text in the header cells */
    vertical-align: middle;
    width: 100%;
}

/* Set specific widths for each column */
th:nth-child(1) { /* Task */
    width: 60%;
}
th:nth-child(2) { /* Due Date */
    width: 15%;
}
th:nth-child(3) { /* Status */
    width: 15%;
}
th:nth-child(4) { /* Actions */
    width: 10%;
}
.todo-item td {
    vertical-align: middle;
}
input[type="date"], select {
    padding: 5px;
    box-sizing: border-box;
}
input[type="text"], select {
    padding: 5px;
    margin-left: 5%;
    box-sizing: border-box;
}
button {
    margin: 0 5px;
}


/* Misc CSS */
select {
    margin-left: 8px;
}
h1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: center;
    border-bottom: 1px solid #25291cff;
    margin-left: 5%;
}