
/*      Dedicated Color Palette         */
/*      --beige: #e3e7d3ff;             */
/*      --silver: #bdc2bfff;            */
/*      --battleship-gray: #989c94ff;   */
/*      --black-olive: #25291cff;       */
/*      --vanilla: #e6e49fff;           */


/* The Todo Items CSS */
.todo-item {
    display: flex;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #bdc2bfff;
}
.todo-item span {
    flex: 1;
}
.div {
    padding: 24px;
    margin-right: 5%;
}


/* Table CSS */
table {
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
    border-collapse: collapse;
    table-layout: fixed;
}
thead {
    background-color: #e3e7d3ff;
}
th, td {
    padding: 10px;
    border: 1px solid #25291cff;
    text-align: left;
    vertical-align: middle;
}
th {
    text-align: center;
}
.todo-item td {
    vertical-align: middle;
}
input[type="date"], select {
    padding: 5px;
    box-sizing: border-box;
}
input[type="text"], select {
    padding: 5px;
    margin-left: 5%;
    box-sizing: border-box;
}
button {
    margin: 0 5px;
}


/* Misc CSS */
select {
    margin-left: 8px;
}
h1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: center;
    border-bottom: 1px solid #25291cff;
    margin-right: 5%;
}